## Imports

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

## Data import + basic exploration

In [113]:
data_folder = './data/core/'
batting_df = pd.read_csv(data_folder + 'Batting.csv')
pitching_df = pd.read_csv(data_folder + 'Pitching.csv')
fielding_df = pd.read_csv(data_folder + 'Fielding.csv')
player_names = pd.read_csv(data_folder + 'People.csv')
team_names = pd.read_csv(data_folder + 'Teams.csv')

In [114]:
player_names['player_fn'] = player_names['nameFirst'] + ' ' + player_names['nameLast']

In [115]:
print(f"Batting table has {batting_df.shape[0]} rows and {batting_df.shape[1]} attributes.")
print("Showing the first few rows:")
batting_df.head(3)

Batting table has 112184 rows and 22 attributes.
Showing the first few rows:

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0

In [116]:
print(f"Pitching table has {pitching_df.shape[0]} rows and {pitching_df.shape[1]} attributes.")
print("Showing the first few rows:")
pitching_df.head(3)

Pitching table has 50402 rows and 30 attributes.
Showing the first few rows:

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,0,78,43,23,0,11,1,NaN,7.96,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,0,792,361,132,4,37,13,NaN,4.50,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,0,3,8,3,0,0,0,NaN,27.00,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN

In [117]:
print(f"Fielding table has {fielding_df.shape[0]} rows and {fielding_df.shape[1]} attributes.")
print("Showing the first few rows:")
fielding_df.head(3)

Fielding table has 149365 rows and 18 attributes.
Showing the first few rows:

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN

|Batting Table   |                                                        |
|----------------|--------------------------------------------------------|
| playerID       | Player ID code                                         |
| yearID         | Year                                                   |
| stint          | player's stint (order of appearances within a season)  |
| teamID         | Team                                                   |
| lgID           | League                                                 |
| G              | Games                                                  |
| AB             | At Bats                                                |
| R              | Runs                                                   |
| H              | Hits                                                   |
| 2B             | Doubles                                                |
| 3B             | Triples                                                |
| HR             | Homeruns                                               |
| RBI            | Runs Batted In                                         |
| SB             | Stolen Bases                                           |
| CS             | Caught Stealing                                        |    
| BB             | Base on Balls                                          |
| SO             | Strikeouts                                             |
| IBB            | Intentional walks                                      |
| HBP            | Hit by pitch                                           |
| SH             | Sacrifice hits                                         |
| SF             | Sacrifice flies                                        |
| GIDP           | Grounded into double plays                             |

The above table represents the columns and their descriptions for the 'Batting' table.

| Pitching table  | Description                                      |
|---------|--------------------------------------------------|
| playerID | Player ID code                                   |
| yearID   | Year                                             |
| stint    | Player's stint (order of appearances within a season) |
| teamID   | Team                                             |
| lgID     | League                                           |
| W        | Wins                                             |
| L        | Losses                                           |
| G        | Games                                            |
| GS       | Games Started                                    |
| CG       | Complete Games                                   |
| SHO      | Shutouts                                         |
| SV       | Saves                                            |
| IPOuts   | Outs Pitched (innings pitched x 3)               |
| H        | Hits                                             |
| ER       | Earned Runs                                      |
| HR       | Homeruns                                         |
| BB       | Walks                                            |
| SO       | Strikeouts                                       |
| BAOpp    | Opponent's Batting Average                       |
| ERA      | Earned Run Average                               |
| IBB      | Intentional Walks                                |
| WP       | Wild Pitches                                     |
| HBP      | Batters Hit By Pitch                             |
| BK       | Balks                                            |
| BFP      | Batters faced by Pitcher                         |
| GF       | Games Finished                                   |
| R        | Runs Allowed                                     |
| SH       | Sacrifices by opposing batters                   |
| SF       | Sacrifice flies by opposing batters              |
| GIDP     | Grounded into double plays by opposing batter    |

The above table represents the columns and their descriptions for the 'Pitching' table.

| Fielding table   | Description                                             |
|----------|---------------------------------------------------------|
| playerID | Player ID code                                          |
| yearID   | Year                                                    |
| stint    | Player's stint (order of appearances within a season)    |
| teamID   | Team                                                    |
| lgID     | League                                                  |
| Pos      | Position                                                |
| G        | Games                                                   |
| GS       | Games Started                                           |
| InnOuts  | Time played in the field expressed as outs              |
| PO       | Putouts                                                 |
| A        | Assists                                                 |
| E        | Errors                                                  |
| DP       | Double Plays                                            |
| PB       | Passed Balls (by catchers)                              |
| WP       | Wild Pitches (by catchers)                              |
| SB       | Opponent Stolen Bases (by catchers)                     |
| CS       | Opponents Caught Stealing (by catchers)                 |
| ZR       | Zone Rating                                             |

The above table represents the columns and their descriptions for the 'Fielding' table.

* **shutout** refers to the act by which a single pitcher pitches a complete game and does not allow the opposing team to score a run.
*  **save** is give to a pitcher who finishes a game for the winning team under certain prescribed circumstances. Most commonly a pitcher earns a save by entering in the ninth inning of a game in which his team is winning by three or fewer runs and finishing the game by pitching one inning without losing the lead.
* an **inning** is the basic unit of play, consisting of two halves or frames. In each half, one team bats until three outs are made, with the other team playing defense. A full baseball game is typically scheduled for nine innings
* **wild pitch (WP)** is charged against a pitcher when his pitch is too high, too short, or too wide
*  pitcher can commit a number of illegal motions or actions that constitute a **balk**
* A pitcher receives a **win** when he is the pitcher of record when his team takes the lead for good
* pitcher on the winning team is awarded a **win** (the "winning pitcher") and one pitcher on the losing team is given a **loss** 
* A fielder is credited with a **putout** when he is the fielder who physically records the act of completing an out
* An **assist** is awarded to a fielder who touches the ball before a putout is recorded by another fielder
* A fielder is given an **error** if, in the judgment of the official scorer, he fails to convert an out on a play that an average fielder should have made

## Data preparation - filling missing data, attribute selection, time-based aggregation

### Attribute selection:

In [118]:
batting_df['SO'] = batting_df['SO'].fillna(0).astype(int)
batting_df.dropna(axis='columns', how='any', inplace=True)
batting_df.drop('BB', axis=1, inplace=True)

In [119]:
pitching_df['SO'] = pitching_df['SO'].fillna(0).astype(int)
pitching_df.dropna(axis='columns', how='any', inplace=True)
pitching_df.drop(['GS', 'CG', 'BB', 'GF'], axis=1, inplace=True)

In [120]:
fielding_df['InnOuts'] = fielding_df['InnOuts'].fillna(0).astype(int)
fielding_df['E'] = fielding_df['E'].fillna(0).astype(int)
fielding_df.dropna(axis='columns', how='any', inplace=True)
fielding_df.drop('DP', axis=1, inplace=True)

### Adding player full names and team full names

In [121]:
batting_df = batting_df.merge(player_names[['playerID', 'player_fn']], on='playerID', how='left')
batting_df = batting_df.merge(team_names[['teamID', 'yearID', 'name']], on=['teamID','yearID'], how='left')

In [122]:
pitching_df = pitching_df.merge(player_names[['playerID', 'player_fn']], on='playerID', how='left')
pitching_df = pitching_df.merge(team_names[['teamID', 'yearID', 'name']], on=['teamID','yearID'], how='left')

In [123]:
fielding_df = fielding_df.merge(player_names[['playerID', 'player_fn']], on='playerID', how='left')
fielding_df = fielding_df.merge(team_names[['teamID', 'yearID', 'name']], on=['teamID','yearID'], how='left')

### Renaming columns

In [124]:
# Rename columns
new_attribute_names = {
    "yearID" : "year",
    "name": "teams",
    "player_fn": "player",
    "G": "games_played",
    "AB": "at_bats",
    "R": "runs",
    "H": "hits",
    "2B": "doubles",
    "3B": "triples",
    "HR": "homeruns",
    "SO": "strikeouts"
}
batting_df.rename(columns=new_attribute_names, inplace=True)

In [125]:
# Rename columns
new_attribute_names = {
    "yearID" : "year",
    "name": "teams",
    "player_fn": "player",
    "G": "games_played",
    "H": "hits",
    "HR": "homeruns",
    "SO": "strikeouts",
    "W": "wins",
    "L": "losses",
    "SHO": "shutouts",
    "SV": "saves",
    "IPouts": "outs_pitched",
    "ER": "earned_runs",
    "WP": "wild_pitches",
    "BK": "balks",
    "R": "runs_allowed"
}
pitching_df.rename(columns=new_attribute_names, inplace=True)

In [126]:
# Rename columns
new_attribute_names = {
    "yearID" : "year",
    "name": "teams",
    "player_fn": "player",
    "G": "games_played",
    "InnOuts": "innings_played_in_outs",
    "PO": "putouts",
    "A": "assists",
    "E": "errors",
    "POS": "field_positions"
}
fielding_df.rename(columns=new_attribute_names, inplace=True)

### Aggregate to have nice time-based series

In [127]:
# Specify the attributes to sum and concatenate
sum_attributes = ['games_played', 'at_bats', 'runs', 'hits', 'doubles', 'triples', 'homeruns', 'strikeouts']
concatenate_attribute = 'teams'

batting_df = batting_df.groupby(['year', 'player']).agg({
    **{attr: 'sum' for attr in sum_attributes},
     concatenate_attribute: lambda x: list(set(x))}).reset_index()

In [128]:
# Specify the attributes to sum and concatenate
sum_attributes = ['wins', 'losses', 'games_played', 'shutouts', 'saves', 'outs_pitched', 'hits', 'earned_runs', 'homeruns', 'strikeouts', 'wild_pitches', 'balks', 'runs_allowed']
concatenate_attribute = 'teams'

pitching_df = pitching_df.groupby(['year', 'player']).agg({
    **{attr: 'sum' for attr in sum_attributes},
     concatenate_attribute: lambda x: list(set(x))}).reset_index()

In [129]:
# Specify the attributes to sum and concatenate
sum_attributes = ['games_played', 'innings_played_in_outs', 'putouts', 'assists', 'errors']
concatenate_attributes = ['field_positions', 'teams']

fielding_df = fielding_df.groupby(['year', 'player']).agg({
    **{attr: 'sum' for attr in sum_attributes},
    **{cat_attr: lambda x: list(set(x)) for cat_attr in concatenate_attributes}
}).reset_index()

## Find if there are player who are both batters and pitchers

In [130]:
common_players = pd.merge(batting_df['player'], pitching_df['player'], on='player')
common_players_data = batting_df[batting_df['player'].isin(common_players['player'].unique())]
print(f"There are {len(common_players['player'].unique())} players who are both batters and pitchers")
common_players_data.head(5)

There are 10189 players who are both batters and pitchers

,year,player,games_played,at_bats,runs,hits,doubles,triples,homeruns,strikeouts,teams
1,1871,Al Pratt,29,130,31,34,6,8,0,0,[Cleveland Forest Citys]
3,1871,Al Spalding,31,144,43,39,10,1,1,1,[Boston Red Stockings]
6,1871,Asa Brainard,30,134,24,30,4,0,0,2,[Washington Olympics]
7,1871,Bill Barrett,1,5,1,1,1,0,0,0,[Fort Wayne Kekiongas]
11,1871,Bill Stearns,2,9,1,0,0,0,0,2,[Washington Olympics]

In [131]:
batting_df[batting_df['player'] == 'Bill Barrett']

,year,player,games_played,at_bats,runs,hits,doubles,triples,homeruns,strikeouts,teams
7,1871,Bill Barrett,1,5,1,1,1,0,0,0,[Fort Wayne Kekiongas]
125,1872,Bill Barrett,1,4,0,0,0,0,0,0,[Washington Olympics]
262,1873,Bill Barrett,1,4,0,1,0,0,0,0,[Baltimore Canaries]
17154,1921,Bill Barrett,14,30,3,7,2,1,0,5,[Philadelphia Athletics]
18138,1923,Bill Barrett,44,162,17,44,7,2,2,24,[Chicago White Sox]
18655,1924,Bill Barrett,119,406,52,110,18,5,2,38,[Chicago White Sox]
19186,1925,Bill Barrett,81,245,44,89,23,3,3,27,[Chicago White Sox]
19704,1926,Bill Barrett,111,368,46,113,31,4,6,26,[Chicago White Sox]
20210,1927,Bill Barrett,147,556,62,159,35,9,4,46,[Chicago White Sox]
20725,1928,Bill Barrett,76,235,34,65,11,2,3,30,[Chicago White Sox]
21224,1929,Bill Barrett,114,371,57,100,23,4,3,38,"[Chicago White Sox, Boston Red Sox]"
21738,1930,Bill Barrett,12,22,3,3,1,0,0,5,"[Boston Red Sox, Washington Senators]"

In [132]:
pitching_df[pitching_df['player'] == 'Bill Barrett']

,year,player,wins,losses,games_played,shutouts,saves,outs_pitched,hits,earned_runs,homeruns,strikeouts,wild_pitches,balks,runs_allowed,teams
6285,1921,Bill Barrett,1,0,4,0,0,15,2,4,0,2,1,0,4,[Philadelphia Athletics]

## Find players stats of fielding and batting/pitching

In [133]:
batting_field_df = pd.merge(batting_df['player'], fielding_df['player'], on='player')
pitching_field_df = pd.merge(pitching_df['player'], fielding_df['player'], on='player')
print(f"Batting: {len(batting_field_df['player'].unique())} out of {len(fielding_df['player'].unique())} are also in the fielding table.")
print(f"Pitching: {len(pitching_field_df['player'].unique())} out of {len(pitching_df['player'].unique())} are also in the fielding table.")

Batting: 19596 out of 19596 are also in the fielding table.
Pitching: 10189 out of 10189 are also in the fielding table.

## Prepare the final dataframes
### 1. Batting performance of players

In [134]:
batting_df.shape

(103403, 11)

In [139]:
batting_df.head(3)

,year,player,games_played,at_bats,runs,hits,doubles,triples,homeruns,strikeouts,teams
0,1871,Al Barker,1,4,0,1,0,0,0,0,[Rockford Forest Citys]
1,1871,Al Pratt,29,130,31,34,6,8,0,0,[Cleveland Forest Citys]
2,1871,Al Reach,26,133,43,47,7,6,0,6,[Philadelphia Athletics]

### 2. Pitching performance of players

In [200]:
pitching_df.shape
pitching_df.drop('outs_pitched', axis=1, inplace=True)

In [202]:
pitching_df.head(5)

,year,player,wins,losses,games_played,shutouts,saves,hits,strikeouts,wild_pitches,balks,runs_allowed,teams
0,1871,Al Pratt,10,17,28,0,0,296,34,48,0,288,[Cleveland Forest Citys]
1,1871,Al Spalding,19,10,31,1,0,333,23,11,0,272,[Boston Red Stockings]
2,1871,Asa Brainard,12,15,30,0,0,361,13,7,0,292,[Washington Olympics]
3,1871,Bill Stearns,2,0,2,0,0,10,0,0,0,11,[Washington Olympics]
4,1871,Bob Ferguson,0,0,1,0,0,8,0,2,0,9,[New York Mutuals]

### 3. Fielding performance of players

In [140]:
fielding_df.shape

(102202, 9)

In [141]:
fielding_df.head(3)

,year,player,games_played,innings_played_in_outs,putouts,assists,errors,field_positions,teams
0,1871,Al Barker,1,27,2,0,0,[OF],[Rockford Forest Citys]
1,1871,Al Pratt,35,735,25,44,10,"[OF, P]",[Cleveland Forest Citys]
2,1871,Al Reach,26,708,83,68,28,[2B],[Philadelphia Athletics]

### Save the tables to files:

In [203]:
batting_df.to_csv('data/batting.csv', index=False)
pitching_df.to_csv('data/pitching.csv', index=False)
fielding_df.to_csv('data/fielding.csv', index=False)

### Load the table from files:

In [31]:
batting_data = pd.read_csv('data/batting.csv')
pitching_data = pd.read_csv('data/pitching.csv')

In [106]:
filtered_batting = batting_final.groupby('player').filter(lambda x: len(x) > 15)
filtered_pitching = pitching_final.groupby('player').filter(lambda x: len(x) > 15)
filtered_batting.to_csv('data/batting_f.csv', index=False)
filtered_pitching.to_csv('data/pitching_f.csv', index=False)

In [107]:
batting_data = pd.read_csv('data/batting_f.csv')
pitching_data = pd.read_csv('data/pitching_f.csv')

In [73]:
filtered_batting['teams'].iloc[59][1]

'Cincinnati Reds'

In [62]:
filtered_players = filtered_pitching['player'].unique()

In [63]:
filtered_players.size

264

In [148]:
filtered_pitching['year'].describe()

count    4863.000000
mean     1972.369114
std        30.357497
min      1884.000000
25%      1954.000000
50%      1978.000000
75%      1997.000000
max      2022.000000
Name: year, dtype: float64